@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  margin: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0.5em 0;
  line-height: 1em;

  &:first-child {
    margin-top: 0;
  }
}

img {
  max-width: 100%;
}

.content {
  columns: 2;
  column-gap: 1.5rem;
}
